parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\Blueprint\:\:caseInsensitiveText\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/migrations/2025_11_27_173516_create_authentications_table.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\Blueprint\:\:caseInsensitiveText\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/migrations/2025_11_27_173518_create_plans_table.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/ApiKeyServiceProvider.php

		-
			message: '#^Using nullsafe property access "\?\-\>features" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/FeatureContext.php

		-
			message: '#^Call to an undefined method ReflectionType\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/FeatureManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:currentAccessToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Authentication/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Authentication/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$apiKey\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/Authentication/ProfileController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:address\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Authentication/ProfileController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type MercadoPago\\Net\\MPResponse\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Cards/CardController.php

		-
			message: '#^Using nullsafe property access "\?\-\>expiration_month" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Cards/CardController.php

		-
			message: '#^Using nullsafe property access "\?\-\>expiration_year" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Cards/CardController.php

		-
			message: '#^Using nullsafe property access "\?\-\>last_four_digits" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Cards/CardController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:activePlan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:subscribeToPlan\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Parameter \#1 \$user of method RiseTechApps\\ApiKey\\Http\\Controllers\\Dashboard\\Checkout\\CheckoutController\:\:syncCardAfterPayment\(\) expects RiseTechApps\\ApiKey\\Models\\Authentication\\Authentication, Illuminate\\Foundation\\Auth\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type MercadoPago\\Net\\MPResponse\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe property access "\?\-\>expiration_month" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe property access "\?\-\>expiration_year" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe property access "\?\-\>last_four_digits" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Checkout/CheckoutController.php

		-
			message: '#^Call to function is_null\(\) with RiseTechApps\\ApiKey\\Models\\Coupon\\Coupon will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 3
			path: src/Http/Controllers/Dashboard/Coupons/CouponsController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: src/Http/Controllers/Dashboard/Coupons/CouponsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:activePlan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:activePlanWithGracePeriod\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:requestLog\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:subscribeToPlan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:userPlan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Using nullsafe property access "\?\-\>request_limit" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Using nullsafe property access "\?\-\>requests_used" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Dashboard/Signature/SignatureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middlewares/AdminMiddleware.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$apiKey\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middlewares/ApiKeyOriginValidatorMiddleware.php

		-
			message: '#^Parameter \#1 \$user of method Illuminate\\Contracts\\Auth\\Guard\:\:setUser\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Middlewares/AuthenticateApiKey.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$apiKey\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middlewares/CheckActivePlanMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:activePlanWithGracePeriod\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Middlewares/CheckActivePlanMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:userPlan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Middlewares/CheckActivePlanMiddleware.php

		-
			message: '#^Parameter \#1 \$user of event class RiseTechApps\\ApiKey\\Events\\PlanExpired constructor expects RiseTechApps\\ApiKey\\Models\\Authentication\\Authentication in RiseTechApps\\ApiKey\\Events\\PlanExpired\:\:dispatch\(\), Illuminate\\Foundation\\Auth\\User given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Middlewares/CheckActivePlanMiddleware.php

		-
			message: '#^Method RiseTechApps\\ApiKey\\Http\\Middlewares\\CheckRequestLimitMiddleware\:\:resolveActivePlan\(\) should return RiseTechApps\\ApiKey\\Models\\UserPlan\\UserPlan\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Http/Middlewares/CheckRequestLimitMiddleware.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: src/Http/Middlewares/CheckRequestLimitMiddleware.php

		-
			message: '#^Using nullsafe method call on non\-nullable type RiseTechApps\\ApiKey\\Models\\Authentication\\Authentication\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Middlewares/CheckRequestLimitMiddleware.php

		-
			message: '#^Using nullsafe property access "\?\-\>request_limit" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Middlewares/CheckRequestLimitMiddleware.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\ApiKeyResource\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/ApiKeyResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\ApiKeyResource\:\:\$code\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Resources/ApiKeyResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\ApiKeyResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/ApiKeyResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\ApiKeyResource\:\:\$expires_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/ApiKeyResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\ApiKeyResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/ApiKeyResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getFullUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Resources/Authentication/AuthenticationMeResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$city\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$complement\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$country\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$district\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_address\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$number\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$state\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$zip_code\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Authentication\\ProfileResource\:\:\$genre\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Models\\ApiKey\\ApiKey\:\:\$code\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Parameter \#1 \$condition of method Illuminate\\Http\\Resources\\Json\\JsonResource\:\:when\(\) expects bool, RiseTechApps\\Media\\Models\\Media\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Resources/Authentication/ProfileResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Coupons\\CouponsResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Coupons/CouponsResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Coupons\\CouponsResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Coupons/CouponsResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Signature\\LogHistoryResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Signature/LogHistoryResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Signature\\LogHistoryResource\:\:\$endpoint\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Signature/LogHistoryResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Signature\\LogHistoryResource\:\:\$method\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Signature/LogHistoryResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Signature\\LogHistoryResource\:\:\$requested_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/Dashboard/Signature/LogHistoryResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\Dashboard\\Signature\\LogHistoryResource\:\:\$response_code\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Resources/Dashboard/Signature/LogHistoryResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\RequestLogResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/RequestLogResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\RequestLogResource\:\:\$endpoint\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/RequestLogResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\RequestLogResource\:\:\$method\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/RequestLogResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\RequestLogResource\:\:\$requested_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/RequestLogResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Http\\Resources\\RequestLogResource\:\:\$response_code\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Resources/RequestLogResource.php

		-
			message: '#^Parameter \#1 \$condition of method Illuminate\\Http\\Resources\\Json\\JsonResource\:\:when\(\) expects bool, RiseTechApps\\Media\\Models\\Media\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Resources/UserResource.php

		-
			message: '#^Strict comparison using \=\=\= between int\|null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property RiseTechApps\\ApiKey\\Models\\ApiKey\\ApiKey\:\:\$allowed_origins\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/ApiKey/ApiKey.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$plan\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$requests_used\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isInGracePeriod\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Method RiseTechApps\\ApiKey\\Models\\Authentication\\Authentication\:\:getPhotoProfile\(\) should return RiseTechApps\\Media\\Models\\Media\|null but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Database\\Eloquent\\Relations\\HasOne\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Using nullsafe property access "\?\-\>request_limit" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Using nullsafe property access "\?\-\>requests_used" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Models/Authentication/Authentication.php

		-
			message: '#^Method RiseTechApps\\ApiKey\\Models\\UserPlan\\UserPlan\:\:getGracePeriodRemainingDays\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: src/Models/UserPlan/UserPlan.php

		-
			message: '#^Using nullsafe property access "\?\-\>price" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/UserPlan/UserPlan.php

		-
			message: '#^Parameter \#1 \$array \(array\{\}\|array\{non\-falsy\-string\}\) to function array_filter does not contain falsy values, the array will always stay the same\.$#'
			identifier: arrayFilter.same
			count: 1
			path: src/RoutesApiKey.php

		-
			message: '#^Method RiseTechApps\\ApiKey\\Rules\\PlanRules\:\:messages\(\) should return array\<string, array\<string, string\>\> but returns array\<string, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Rules/PlanRules.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$apiKey\.$#'
			identifier: property.notFound
			count: 1
			path: src/Scope/ApiKeyScope.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$plan\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PlanService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$requests_used\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PlanService.php

		-
			message: '#^Trait RiseTechApps\\ApiKey\\Traits\\ApiResponseTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/ApiResponseTrait.php

		-
			message: '#^Trait RiseTechApps\\ApiKey\\Traits\\HasApiKey is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/HasApiKey.php
